//Fonts
$font: 'JohnSansTextPro';
$font-headings: 'Cordale';

//Colors
$text-color-main: #6f6f6f;

$white: #ffffff;
$black: #000000;
$blue: #3e6ba2;
$purple: #ad1566;
$green: #008c8e;
$orange: #f15d26;
$grey: #e7e7e7;
$dark-grey: #acacac;

//Responsive
$xl-size: 1200px;
$desktop-width: 991px;
$tablet-width: 768px;
$mobile-width: 320px;
$xs-size: 160px;
